main {
	background: transparent;
}

.footer {
	padding: 20px calc(40px + 8%);
	border-top: 0.5px solid var(--border);
	display: flex;
	justify-content: space-between;
}

.ft {
	font-size: 10px;
	color: var(--dim);
}
